.wrapper {
  background: #F2F2F2;
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/*NavBar COMPONENT*/
.nav-bar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.nav-link {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #000000;
}


#dropdown-basic-button {
  margin-right: 15px;
  padding-right: 10px;
}

/*HOME COMPONENT*/
.home-page {
  display: flex;
  justify-content: center;
  align-content: center;
}

.description {
  padding: 50px;
  width: 50%;
}

.ace {
  font-weight: 600;
  font-size: 24px;
  margin: 50px 0 25px 0;
}

/*TODO: style home component*/
.get-started {
  width: 50%;
  padding: 50px;
}


/*ALL SUBJECTS COMPONENT*/
.all-subjects {
  text-align: center;
}
/*TODO: style title and subject cards*/
.title {
  font-weight: 600;
  font-size: 24px;
}

.subject-img {
  height: 100px;
  width: 100px;
  border-radius: 99px;
}