.nav-bar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #000000;
}


.user-dropdown {
  margin-right: 10px;
  padding-right: 10px;
}

.home-page {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #F2F2F2;
  height: 1440px;
}