body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  background: gray;
}

.logo {
  position: absolute;
  left: 45.21%;
  right: 45.14%;
  top: 28.12%;
  bottom: 26.56%;

  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.links {
  position: absolute;
  width: 288px;
  height: 22px;
  left: 40px;
  top: 21px;
}

.browse-link {
  position: absolute;
  left: 2.78%;
  right: 93.06%;
  top: 32.81%;
  bottom: 32.81%;

  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #000000;
}

.create-link {
  position: absolute;
  left: 30%;
  right: 82.78%;
  top: 32.81%;
  bottom: 32.81%;

  font-family: -apple-system, BlinkMacSystemFont, Roboto, Monaco, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #000000;
}

.user-dropdown {
  position: absolute;
  left: 87.5%;
  right: 2.78%;
  top: 18.75%;
  bottom: 18.75%;
  border-radius: 5px;
}